
<div>
    <h2>Zahtevi</h2>
    <input matInput placeholder="Unesite kljucnu rec ili frazu za pretragu" [(ngModel)]="searchInput"/>

    <button mat-raised-button (click)="search()">Pretrazi</button>
    <button mat-button (click)="getAllRequests()">
        <span class="material-icons black-colored-icon">
            refresh
            </span>
    </button>

    <input matInput placeholder="Unesite URI" [(ngModel)]="metadataSearch.URI"/>
    <input matInput placeholder="Unesite datum" [(ngModel)]="metadataSearch.datum"/>
    <input matInput placeholder="Unesite korisnicko ime" [(ngModel)]="metadataSearch.korisnicko_ime"/>
    <input matInput placeholder="Unesite naziv organa vlasti" [(ngModel)]="metadataSearch.naziv_organa_vlasti"/>
    <button mat-raised-button (click)="searchMetadata()">Pretrazi po metapodacima</button>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Podnosilac</th>
            <th>Trazene informacije</th>
            <th>Preuzmi PDF</th>
            <th>Prikaz zahteva</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let zahtev of list">
            <td>{{zahtev.datum._text}}</td>
            <td>{{zahtev.podnosilac.ime._text}} {{zahtev.podnosilac.prezime._text}}</td>
            <td>{{zahtev.trazeneInformacije._text}}</td>
            <td><button mat-button color="primary"><a href="{{getHref(zahtev.uri._text)}}">Preuzmi PDF</a></button></td>
            <td><button mat-button color="primary" ><a href="/zahtev/{{zahtev.uri._text}}">Prikaz zahteva</a></button></td>
        </tr>
    </tbody>

    </table>
    
</div>
