<div>
  <div>
    <button>
        Pretraga
    </button>
  </div>
  <div>
    <button>
        Napredna pretraga
     </button>
</div>
<div>
    <button  [routerLink]="['/make_request']">
        Novi zahtev 
      </button>
</div>
<div>
    <button  [routerLink]="['/make_info']">
        Novo obavestenje 
      </button>
</div>
<div>
    <button>
        Pregled svih primljenih/poslatih dokumenata(info)
      </button>
</div>
<div>
    <button>
        Pregled pristiglih zahteva
      </button>
</div>
<div>
    <button>
        Pregled svih primljenih/poslatih dokumenata(info)
      </button>
</div>
  
</div>
