<div class="main">
  <div class="second">
    <br>
    <br>
    <br>
    <br>
    <br>
    <button *ngIf ="type==='POVERENIK'" [routerLink]="['/new_appeal_decision']">
        Pregled pristiglih žalbi na odluku
      </button>
      <br>
      <br>
    <button *ngIf ="type==='POVERENIK'" [routerLink]="['/new_appeal_silence']">
        Pregled pristiglih žalbi na ćutanje
      </button>
      <br>
      <br>
      <button *ngIf ="type==='POVERENIK'" [routerLink]="['/all_appeal_decision']">
        Istorija žalbi na odluku
      </button>
      <br>
      <br>
      <button *ngIf ="type==='POVERENIK'" [routerLink]="['/all_appeal_silence']">
        Istorija žalbi na ćutanje
      </button>
      <br>
      <br>
      <button *ngIf ="type==='POVERENIK'" [routerLink]="['/all_decision']">
        Istorija rešenja
      </button>
      <br>
      <br>
      <button *ngIf ="type==='POVERENIK'" [routerLink]="['/reports']">
        Izveštaji
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/make_appeal_silence']">
          Nova žalba cutanja 
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/make_appeal_decision']">
          Nova žalba odluke 
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/user_appeal_decision']">
        Istorija žalbi na odluku 
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/user_appeal_silence']">
        Istorija žalbi na ćutanje
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/user_decision']">
        Istorija rešenja 
      </button>
      
  
      
  
    
  </div>
  

</div>