<div>
  <div>
    <button>
        Pretraga
    </button>
  </div>
  <div>
    <button>
        Napredna pretraga
     </button>
</div>
<div>
    <button  [routerLink]="['/make_decision']">
        Novo resenje 
      </button>
</div>
<div>
    <button  [routerLink]="['/make_appeal_silence']">
        Nova zalba cutanja 
      </button>
</div>
<div>
    <button  [routerLink]="['/make_appeal_decision']">
        Nova zalba odluke 
      </button>
</div>
<div>
    <button>
        Pregled svih primljenih/poslatih dokumenata(info)
      </button>
</div>
<div>
    <button>
        Pregled pristiglih zahteva
      </button>
</div>
<div>
    <button>
        Pregled svih primljenih/poslatih dokumenata(info)
      </button>
</div>
  
</div>
