<div>
    <h2>Resenja</h2>
    <input matInput placeholder="Unesite kljucnu rec ili frazu za pretragu" [(ngModel)]="searchInput"/>

    <button mat-raised-button (click)="search()">Pretrazi</button>
    <button mat-button (click)="getAllDecision()">
        <span class="material-icons black-colored-icon">
            refresh
            </span>
    </button>
    <br>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Broj resenja</th>
            <th>Tip zalbe</th>
            <th>Preuzmi PDF</th>
            <th>Prikaz resenja</th>
            <th>Preuzmi metapodatke u rdf formatu</th>
            <th>Preuzmi metapodatke u json formatu</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resenje of list">
            <td>{{resenje.zaglavlje.datum._text}}</td>
            <td>{{resenje.zaglavlje.brojResenja._text}}</td>
            <td *ngIf = "resenje.zalbaCutanjeURI._text">Zalba cutanje</td>
            <td *ngIf = "resenje.zalbaOdlukeURI._text">Zalba odluke</td>
            <td><button mat-button color="primary"><a href="{{getHref(resenje.uri._text)}}">Preuzmi PDF</a></button></td>
            <td><button mat-button color="primary" ><a href="/decision_review/{{resenje.uri._text}}">Prikaz resenja</a></button></td>
            <td><button mat-button color="primary"><a href="http://localhost:8081/api/resenje/rdf/{{resenje.uri._text}}">Preuzmi RDF</a></button></td>
            <td><button mat-button color="primary"><a href="http://localhost:8081/api/resenje/json/{{resenje.uri._text}}">Preuzmi JSON</a></button></td>
        </tr>
    </tbody>

    </table>
    
</div>
