<div>
  <div>
    <button>
        Pretraga
    </button>
  </div>
  <div>
    <button>
        Napredna pretraga
     </button>
</div>
<div>
    <button  [routerLink]="['/make_request']">
        Novi zahtev 
      </button>
</div>
<div>
    <button  [routerLink]="['/make_info/1']">
        Novo obavestenje 
      </button>
</div>
<div>
    <button [routerLink]="['/user_requests']">
        Pregled poslatih zahteva
    </button>
</div>
<div>
    <button [routerLink]="['/new_requests']">
        Pregled pristiglih zahteva
      </button>
</div>
<div>
    <button [routerLink]="['/requests']">
        Pregled svih zahteva
      </button>
</div>
  
</div>
