<div class="main">
  <div class="second">
    <br>
    <br>
    <br>
    <br>
    <br>
    <button *ngIf ="type==='SLUZBENIK'" [routerLink]="['/new_requests']">
        Pregled pristiglih zahteva
      </button>
      <br>
      <br>
    <button *ngIf ="type==='SLUZBENIK'" [routerLink]="['/requests']">
        Istorija zahteva za informacijama od javnog značaja
      </button>
      <br>
      <br>
      <button *ngIf ="type==='SLUZBENIK'" [routerLink]="['/informations']">
        Istorija poslatih obaveštenja 
      </button>
      <br>
      <br>
      <button *ngIf ="type==='SLUZBENIK'" [routerLink]="['/reports']">
        Izveštaji
      </button>
      <br>
      <br>
      <button *ngIf ="type==='SLUZBENIK'" (click)="createReport()">
        Podnesi izveštaj za tekuću godinu
      </button>
      <br>
      <br>
      <button *ngIf ="type==='SLUZBENIK'" [routerLink]="['/decisions']">
        Pogledaj pristigla resenja
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/make_request']">
          Novi zahtev
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/user_requests']">
          Poslati zahtevi
      </button>
      <br>
      <br>
      <button *ngIf ="type==='GRADJANIN'" [routerLink]="['/user_informations']">
        Istorija primljenih obaveštenja
      </button>
  </div>
  

</div>






<!-- <div>
  <div>
    <button>
        Pretraga
    </button>
  </div>
  <div>
    <button>
        Napredna pretraga
     </button>
</div>
<div>
    <button  [routerLink]="['/make_request']">
        Novi zahtev 
      </button>
</div>
<div>
    <button  [routerLink]="['/make_info/1']">
        Novo obavestenje 
      </button>
</div>
<div>
    <button [routerLink]="['/user_requests']">
        Pregled poslatih zahteva
    </button>
</div>
<div>
    <button [routerLink]="['/new_requests']">
        Pregled pristiglih zahteva
      </button>
</div>
<div>
    <button [routerLink]="['/requests']">
        Pregled svih zahteva
      </button>
</div>

<div>
    <button (click)="soap()">
        soap
      </button>
</div>
</div> -->
