<div>
    <h2>Resenja</h2>
    <input matInput placeholder="Unesite kljucnu rec ili frazu za pretragu" [(ngModel)]="searchInput"/>

    <button mat-raised-button (click)="search()">Pretrazi</button>
    <button mat-button (click)="getAllDecision()">
        <span class="material-icons black-colored-icon">
            refresh
            </span>
    </button>
    <br>
    <input matInput placeholder="URI" [(ngModel)]="metadataSearch.URI"/>
    <input matInput placeholder="Datum DD.MM.YYYY." [(ngModel)]="metadataSearch.datum"/>
    <input matInput placeholder="Korisnicko ime" [(ngModel)]="metadataSearch.korisnicko_ime"/>
    <input matInput placeholder="URI zalbe na odluku na koju se resenje odnosi" [(ngModel)]="metadataSearch.zalba_odluke_uri"/>
    <input matInput placeholder="URI zalbe cutanja na koju se resenje odnosi" [(ngModel)]="metadataSearch.zalba_cutanje_uri"/>
    <input matInput placeholder="Broj resenja" [(ngModel)]="metadataSearch.brojResenja"/>
    <button mat-raised-button (click)="searchMetadata()">Pretrazi po metapodacima</button>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Broj resenja</th>
            <th>Tip zalbe</th>
            <th>Preuzmi PDF</th>
            <th>Prikaz resenja</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resenje of list">
            <td>{{resenje.zaglavlje.datum._text}}</td>
            <td>{{resenje.zaglavlje.brojResenja._text}}</td>
            <td *ngIf = "resenje.zalbaCutanjeURI._text">Zalba cutanje</td>
            <td *ngIf = "resenje.zalbaOdlukeURI._text">Zalba odluke</td>
            <td><button mat-button color="primary"><a href="{{getHref(resenje.uri._text)}}">Preuzmi PDF</a></button></td>
            <td><button mat-button color="primary" ><a href="/decision_review/{{resenje.uri._text}}">Prikaz resenja</a></button></td>
        </tr>
    </tbody>

    </table>
    
</div>
